.main__ui
{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    & > .slider:has(#multiplier) {
        grid-column: 1 / -1;
    }

    @media (min-width: 600px)
    {
        .spinner:nth-of-type(2)
        {
            grid-template-areas: "m i p" "m l p";
        }
    }
}