.spinner {
    @extend %panel;
    
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "p i m" "p l m";
    overflow: hidden;

    & > button {
        &:first-of-type {
            grid-area: p;
        }

        &:last-of-type {
            grid-area: m;
        }
    }

    & > input {
        // background-color: $panel-light-bg;
        background: transparent;
        border: 0;
        color: $color-secondary;
        font: inherit;
        font-size: 1.25rem;
        grid-area: i;
        margin-top: 3px;
        outline: none;
        padding: 0.25rem;
        padding-bottom: 0;
        text-align: center;
        width: 100%;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    }

    & > label {
        background: transparent;
        color: rgba($color-secondary, 0.5);
        font-size: 0.6rem;
        font-weight: 600;
        grid-area: l;
        margin-bottom: 3px;
        padding: 0.25rem;
        padding-top: 0;
        pointer-events: none;
        text-align: center;
        text-transform: uppercase;
        user-select: none;
    }
}